@page
@model IndexModel
<h1>GitHub Emojis</h1>
<div class="allEmojis">
    @foreach (var em in Model.Emojis)
    {
        <div class="emoji">
            <img src="@em.Url" alt="emoji @em.Key" height="128" width="128" />
            <code>@em.Key</code>
        </div>
    }
</div>