body {
    align-content: center;
}

ul.emojiList {
    list-style-type: none;
}

    ul.emojiList li {
        display: -webkit-flex; /* Safari */
        -webkit-flex-wrap: wrap; /* Safari 6.1+ */
        display: flex;
        flex-wrap: wrap;
    }

.allEmojis {
    display: flex;
    flex-wrap: wrap;
}

div.emoji {
    margin-right: 10px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
}

    div.emoji code {
        display: block;
    }

code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
