h1 {
    text-align: center;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.allEmojis {
    display: flex;
    flex-wrap: wrap;
}

div.emoji {
    margin: auto;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}
    div.emoji code {
        display: block;
    }

code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}